body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    /* max-width: 1200px; */
    max-width: 100%;
    margin: auto;
}

.sidebar {
    width: 250px;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.profile {
    text-align: center;
    padding: 5px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.phone {
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

.nav-menu {
    margin-top: 20px;
}
.nav-menu>ul>li>a:hover{
    background-color: #ff5722;
    color: white;
    border-radius: 5px;
    transform: scale(1.1);
    transition: transform 0.2s ease;
    
}
.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
}

.nav-menu a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding: 5px;
}

.nav-menu a.active {
    color: #ff5722;
}

.wishlist {
    flex: 1;
    padding: 20px;
}

.wishlist h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters button {
    border: none;
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.filters button.active {
    background-color: #ff5722;
    color: #fff;
}
.filters button:hover{
    background-color: #ff5722;
}
.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.product-card {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    position: relative;
    width: 250px;
    text-align: center;
}
.product-card:hover{
    transform: scale(1.02);
    transition: transform 0.2s ease;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selling-fast {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d32f2f;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 16px;
    margin: 10px 0;
}

.product-price {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.original-price {
    font-size: 16px;
    text-decoration: line-through;
    color: #999;
}

.discount {
    color: #d32f2f;
    font-size: 15px;
}

.delete-button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}
